body{
  margin: 0;
  padding: 0;
}

.error-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  
}

.error-page img{
  width: 40%;
}

