.banner{
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 100%;
}

.banner-title{
   color: white;
   font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3rem;
   position: absolute;

}

@media only screen and (max-width: 600px) {
    
      .banner-title{
        font-size: 1.2rem;
        
      }
      .banner{
        width: 95%;
        padding: 10px;

      }
      .banner img{
         height: 100px;
      }
   
  }