


.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 260px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
   
}

.header{
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 120px;
    
}

a{
    text-decoration: none;
    color: black;  
}

nav a.active{
    text-decoration: underline;
}

/* ====== Mobiles ====== */
@media screen and (max-width: 700px){
    .header{
        padding: 0;
        margin: 20px;
    }
    .nav{
        font-size: 20px;
        width: 200PX;
    }
    .logo img{
        width: 90px;
        margin-top: -10px;
        
    }
}